<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Insider QA Automation Suite" verbose="1" parallel="false">

    <test name="QA Jobs Istanbul Test">
        <classes>
            <class name="tests.QAJobsIstanbulTest"/>
        </classes>
    </test>

</suite>
